<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>title</th>
            <th>rating</th>
            <th>reservation_rate</th>
            <th>short_description</th>
            <th>poster_url</th>
        </tr>
        {% for d in result %}
        <tr>
            <td>{{ d[1] }}</td>
            <td>{{ d[2] }}</td>
            <td>{{ d[3] }}</td>
            <td>{{ d[5] }}</td>
            <td><a href="{{ d[4] }}">Link</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>