<!DOCTYPE html>
<html lang="en">
<head>
    {% include './include/head.html' %}
</head>
<body>
    <div class="wrapper">
    {% include './include/nav.html' %}

    <div class="search"></div>

    <table border="1">
        <tr>
            {% for header in headers %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>   
        {% for data in page_data %}
        <tr>
            <td><a href="/store/{{ data['Id'] }}">{{data['Id']}}</a></td>

            {% set keys = data.keys()|list %}
            {% for key in keys[1:] %}
                <td>{{ data[key] }}</td>
            {% endfor %}
        </tr>
    {% endfor %} 
    </table>

    {% include './include/pagination.html' %}

</div>
</body>
</html>