<!DOCTYPE html>
<html lang="en">
<head>
    {% include './include/head.html' %}
</head>
<body>
    <div class="wrapper">
    {% include './include/nav.html' %}

    <div class="search"></div>

    <table border="1">
        <tr>
            {% for header in headers[1:] %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
   
        <tr>
            {% set values = user.values()|list %}
            {% for value in values[1:] %}
                <td>{{ value }}</td>
            {% endfor %}
        </tr>   
    </table>

    <div class="goback">
        <p><a href="{{ url_for('index') }}" class="button">Go Home</a></p>
        <p><a href="{{ request.referrer }}" class="button">Back</a></p>

    </div>
</div>
</body>
</html>