<div class="page_num">
    {% if total_pages < 6 %}
        {% for num in range(1, total_pages + 1) %}
            <a href="?page={{num}}{{ keywords }}" class="button">{{ num }}</a>
        {% endfor %}
    {% elif current_page < 6 %}
        {% for num in range(1, 6) %} 
            <a href="?page={{num}}{{ keywords }}" class="button">{{ num }}</a>
        {% endfor %}
        <a href="?page=6{{ keywords }}" class="button">다음</a>
    {% elif current_page > total_pages-6 %}
        <a href="?page=1{{ keywords }}" class="button">처음</a>
        <a href="?page={{current_page-5}}{{ keywords }}" class="button">이전</a>
        {% for num in range(total_pages-5, total_pages+1) %}
            <a href="?page={{num}}{{ keywords }}" class="button">{{ num }}</a>
        {% endfor %}
    {% else %}
        <a href="?page=1{{ keywords }}" class="button">처음</a>
        <a href="?page={{current_page-5}}{{ keywords }}" class="button">이전</a>
        {% for num in range(current_page, current_page+5) %}
            <a href="?page={{num}}{{ keywords }}" class="button">{{ num }}</a>
        {% endfor %}
        <a href="?page=current_page+5{{ keywords }}" class="button">이후</a>
        <a href="?page=total_pages{{ keywords }}"class="button">끝</a>
    {% endif %}
    
</div>