{% extends "base.html" %}

{% block content %}
    <table class="table">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col">Email</th>
        </tr>
        
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.password_hash }}</td>
            <td>{{ user.email }}</td>
        </tr>
        {% endfor %}
    </table>
    
{% endblock %}