{% extends 'base.html' %}

{% block content %}

    <h1>Update Todo</h1>
    <form action="{% url 'update' id=todo.id %}" method="POST">
        {% csrf_token %}
        <label for="new_title">Title: </label>
        <input type="text" name="new_title" value="{{ todo.title }}" required>
        <br>
        <label for="new_description">Description: </label>
        <textarea name="new_description" cols="50" rows="10" required>{{ todo.description }}</textarea>
        <br>
        <button>save</button>
    </form>

{% endblock %}