<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% endblock %}
</head>
<body>
    <div class="wrapper">
    {% block nav %}
    <div>
        <nav>
            <ul class="main-nav">
                <li><a href="{{ url_for('user.index') }}">user</a></li>
                <li><a href="{{ url_for('store.store') }}">store</a></li>
                <li><a href="{{ url_for('order.order') }}">order</a></li>
                <li><a href="{{ url_for('orderitem.orderitem') }}">orderitem</a></li>
                <li><a href="{{ url_for('item.item') }}">item</a></li>
            </ul>
        </nav>
    </div>
    {% endblock %}

    {% block search %}
    <!-- 검색 바 -->
    {% endblock %}

    {% block content %}
    <!-- 데이블 테이터 -->
    {% endblock %}
    
    <!-- 페이지 네이션 -->
    {% block pagination %}
    <div class="page_num">
        {% if total_pages < 6 %}
            {% for num in range(1, total_pages + 1) %}
                <a href="?name={{ search_name }}&gender={{ search_gender }}&page={{num}}" class="button">{{ num }}</a>
            {% endfor %}
        {% elif current_page < 6 %}
            {% for num in range(1, 6) %} 
                <a href="?name={{ search_name }}&gender={{ search_gender }}&page={{num}}" class="button">{{ num }}</a>
            {% endfor %}
            <a href="?name={{ search_name }}&gender={{ search_gender }}&page=6" class="button">다음</a>
        {% elif current_page > total_pages-6 %}
            <a href="?name={{ search_name }}&gender={{ search_gender }}&page=1" class="button">처음</a>
            <a href="?name={{ search_name }}&gender={{ search_gender }}&page={{ current_page-5 }}" class="button">이전</a>
            {% for num in range(total_pages-5, total_pages+1) %}
                <a href="?name={{ search_name }}&gender={{ search_gender }}&page={{num}}" class="button">{{ num }}</a>
            {% endfor %}
        {% else %}
            <a href="?name={{ search_name }}&gender={{ search_gender }}&page=1" class="button">처음</a>
            <a href="?name={{ search_name }}&gender={{ search_gender }}&page={{ current_page-5 }}" class="button">이전</a>
            {% for num in range(current_page, current_page+5) %}
                <a href="?name={{ search_name }}&gender={{ search_gender }}&page={{num}}" class="button">{{ num }}</a>
            {% endfor %}
            <a href="?name={{ search_name }}&gender={{ search_gender }}&page={{ current_page+5 }}" class="button">이후</a>
            <a href="?name={{ search_name }}&gender={{ search_gender }}&page={{ total_pages }}"class="button">끝</a>
        {% endif %}
    </div>
    {% endblock %}
</div>
</body>
</html>