{% extends "base.html" %}

{% block search %}
<div class="other_search"></div>
{% endblock %}

{% block content %}
<div class="main_container">
    <table border="1">
        <tr>
            {% for header in headers %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>   
        {% for data in page_data %}
        <tr>
            <td><a href="/store_detail/{{ data['Id'] }}">{{data['Id']}}</a></td>

            {% set keys = data.keys()|list %}
            {% for key in keys[1:] %}
                <td>{{ data[key] }}</td>
            {% endfor %}
        </tr>
    {% endfor %} 
    </table>
</div>
 {% endblock %}

